extends layout

block content

  include ./include/status
  
  h1.page-header Dashboard
  div.row.placeholders
    div.col-xs-6.col-sm-4.placeholder
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" 
        width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail")
      h4
        a(href="/dashboard/products") Sản phẩm
      span.text-muted Xem các sản phẩm hiện có
    
    div.col-xs-6.col-sm-4.placeholder
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" 
        width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail")
      h4 
        a(href="/dashboard/categories") Thể loại
      span.text-muted Xem các thể loại hiện có

    div.col-xs-6.col-sm-4.placeholder
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" 
        width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail")
      h4 
        a(href="/dashboard/contact") Liên hệ
      span.text-muted Thay đổi liên hệ