doctype html
html(lang='en')
  head
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon' href='../../favicon.ico')

    title= "Lâm Trang pet store -" + title

    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js')
    
  body

    div.navbar.navbar-inverse.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          button(type='button' class='navbar-toggle collapsed' 
            data-toggle='collapse' data-target='#navbar' 
            aria-expanded='false' aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='navbar-brand' href='/dashboard') Project name
        div(id='navbar' class='navbar-collapse collapse')
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/dashboard') Dashboard
            li
              a(href='/dashboard/settings') Settings
            if login
              li
                a(href='/users/logout') Logout
          form.navbar-form.navbar-right
            input(class='form-control' placeholder='Search...')

    div.container-fluid
      div.row
        div.col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href='/dashboard') Quản lý
                span.sr-only (current)
            li
              a(href='#') Reports
            li
              a(href='#') Analytics
            li
              a(href='#') Export
          ul.nav.nav-sidebar
            li
              a(href='/dashboard/products') 
                i.fa.fa-paw
                |  Product
                
            li
              a(href='/dashboard/product/add') 
                i.fa.fa-plus
                |  Add Product
          ul.nav.nav-sidebar
            li
              a(href='/dashboard/categories') 
                i.fa.fa-list
                |  Category
            li
              a(href='/dashboard/category/add') 
                i.fa.fa-plus
                |  Add Category
        div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          block content

    script(src='/javascripts/dashboard.js')
