extends ./dashboard/layout

block content
  h1= message
  //- h2= error.status
  //- pre #{error.stack}
  div.row(style="background-image: url('/images/bg_err.png');")
    div.col-md-12
      div.error-template
        h1 Oops!
        h2= error.status + ' - ' +  message
          div.error-details
              | Sorry, an error has occured, Requested page not found!
          div.error-actions
            a(href="/dashboard").btn.btn-primary.btn-lg
              span.glyphicon.glyphicon-home
              | Trang chủ
            a(href="/dashboard").btn.btn-primary.btn-lg
              span.glyphicon.glyphicon-envelope
              | Hỗ trợ
