@font-face{
  font-family:"Proxima-N-W01-Reg";
  src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
  src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 13px;
}

section {
  padding: 50px 0;
}

.section-heading {
  font: normal normal normal 35px/1.4em 'chelsea market',fantasy;
  color: #8FD3E8;
}

a {
  /* color: #F05F40; */
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; 
}
/* a:focus, a:hover {
  color: #f05f40; 
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; 
}

ul {
  list-style-type: none;
}

.price {
  font-weight: bold;
  font-size: 16px;
  /* font-size: 1.5vw; */
  color: #a0a0a0;
}

.price-sale {
  font-size: 28px;
  /* font-size: 2.5vw; */
  color: #9D0D0D;
  font-weight: bold;
}
